.description-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.food-container {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
}

.food-image img {
  max-width: 400px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.food-details {
  padding: 20px;
  flex: 1;
}

.food-name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.food-price,
.food-category,
.food-description,
.food-location {
  margin-bottom: 10px;
}

.add-to-cart-btn {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.add-to-cart-btn:hover {
  background-color: #ff4a3d;
}